apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: {{ .Values.namespace }}
{{- $registry := .Values.image.registry | default "" }}
{{- $globalTag := .Values.image.tag | default "latest" }}
{{- $svcRepo := .Values.frontend.repository | default "cave-frontend" }}
{{- $svcTag := default $globalTag .Values.frontend.tag }}
{{- $svcImage := .Values.frontend.image | default "" }}
{{- $image := ternary $svcImage (printf "%s/%s:%s" $registry $svcRepo $svcTag) (ne $svcImage "") }}
spec:
  replicas: {{ .Values.frontend.replicas }}
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      imagePullSecrets:
        - name: {{ .Values.imagePullSecret.name }}
      containers:
        - name: frontend
          image: {{ $image }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.frontend.port }}
          env:
            - name: API_BASE_URL
              valueFrom:
                configMapKeyRef:
                  name: service-urls
                  key: API_BASE_URL
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: {{ .Values.frontend.port }}
      protocol: TCP
  type: ClusterIP
